<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--  Dicionando Links do cabeçalho  ___  Fragments headerfiles -->
<th:block th:include="fragments/layout.html :: headerfiles"> </th:block> 
</head>
<body>
  <!--  adicionando Menu  ___  Fragments NAVLINKS -->
  <div th:replace="fragments/layout :: navlinks"></div>

	
	<div class="container-fluid">
		<div class="content">
	
	
	
	
        
		</div>
	</div>
	
	
	
   <!--  adicionando Footer  ___  Fragments FOOTER -->
  <div th:replace="fragments/layout :: footer"></div>
</body>
</html>