<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--  Dicionando Links do cabeçalho  ___  Fragments headerfiles -->
<th:block th:include="fragments/layout.html :: headerfiles"> </th:block> 
</head>
<body>
  <!--  adicionando Menu  ___  Fragments NAVLINKS -->
  <div th:replace="fragments/layout :: navlinks"></div>

	
	<div class="container-fluid">
	<div class="content">
	
            <div class="row">
                <div class="col-md-6 offset-md-3
                            text-center">
                            
                            
                            <div class="card">
							  <div class="card-header">
							    Consultar Processo
							  </div>
							  <div class="card-body">
							   	  <form class="row g-3" action="/processo/consultar_resposta" th:object="${processo}"
						method="POST">
			 
								  <div class="col-auto">
								   
								    <input type="text" class="form-control"
								     th:field="*{numero}"  id="numero" placeholder="Número do processo">
								  </div>
								  <div class="col-auto">
								    <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
								  </div>
								</form>
							  </div>
							</div>
                            
                            
                  
                <span style="margin-top: 10px ;" th:if="${msg == 'not_find'}">
				       <div class="alert alert-warning alert-dismissible fade show" role="alert">
								<strong>Processo não encontrado!</strong> Verifique o numero digitado!
					   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				 </div></span>
                
                
                </div>
                
                            
            </div>
        
		</div>
	</div>
	
	
	
   <!--  adicionando Footer  ___  Fragments FOOTER -->
  <div th:replace="fragments/layout :: footer"></div>
</body>
</html>